@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Application</h2>
        <ul>
            <li><a asp-area="" asp-controller="Matrices" asp-action="Index">Matrix</a></li>
        </ul>
    </div>
</div>
